<form>
  <div class="form-group">
    <label>Votre destination</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Rome, Islande ...">
  </div>
  <div class="form-group">
    <label>Description de votre voyage</label>
    <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Je pars du 14 avril au 5 mai, avez vous des conseils à me donner ?"></textarea>
  </div>
  <div class="form-group">
    <label>Photo du lieu</label>
    <input type="url" class="form-control" id="exampleInputPassword1" placeholder="lien de l'image">
  </div>
  <button type="submit" class="btn btn-default">Partager</button>
</form>
