<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h1>Créer un voyage</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placekitten.com/342/200" alt="...">
      <div class="caption">
        <h3>Islande</h3>
        <p>
          Nous partons du 3 décembre au 25 décembre, des conseils à nous donner?
        </p>
        <p><a [routerLink]="['/maps']" class="btn btn-primary" role="button">Voir</a><a href="#" class="btn btn-primary" role="button">Partager</a> <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placekitten.com/342/200" alt="...">
      <div class="caption">
        <h3>Islande</h3>
        <p>
          Nous partons du 3 décembre au 25 décembre, des conseils à nous donner?
        </p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a><a href="#" class="btn btn-primary" role="button">Partager</a> <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placekitten.com/342/200" alt="...">
      <div class="caption">
        <h3>Islande</h3>
        <p>
          Nous partons du 3 décembre au 25 décembre, des conseils à nous donner?
        </p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a><a href="#" class="btn btn-primary" role="button">Partager</a> <a href="#" class="btn btn-default" role="button">Supprimer</a></p>
      </div>
    </div>
  </div>
</div>
